body {
    text-align: center;
}

.controls {
    margin: 20px;
    position: relative;
}
.container {
    position: relative;
  }

#bars-container {
    display: flex;
    align-items: flex-end;
    height: 400px;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
.bard{
    display: flex;
    align-items: flex-end;
    height: 400px;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
.bar {
    background-color: rgb(169, 169, 255);
    margin: 0 2px;
    flex: 1;
    transition: height 0.2s;
    position: relative;
}
.array-numbers {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 80%;
    margin: 0 auto;
    font-size: 0.8vw;
    color:rgb(103, 103, 248) ;
    text-align: center;
  }


.input{
    margin-top: 100px;
}